doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Newdevs

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section.inicio
        .lazy-partners
          img(src="img/newdevs.png")

      section.contacto
        h2 Jesse Javier Cogollo A.
        h3 Founder and CEO
        ul
          li
            img(src="img/newdevs.png")
          li Web: <a href="https://newdevs.co">http://newdevs.co</a>
          li Email: <a href="https://github.com/newdevs">jessecogollo@newdevs.co</a>
          li celular: 3207906256
          li Facebook: <a href="https://facebook.com/newdevs">/newdevs</a>
          li Twitter: <a href="https://twitter.com/newdevs">@newdevs</a>

      section
        h2 Desarrollo
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            db.newdevs.findOne({
              nombre: "jesse cogollo",
              twitter: "@jessecogollo",
              facebook: "/jessecogollo",
              celular: 3207906256
            });

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild